.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #ddd;
  }
  
  .grid-item {
    background-color: #999;
    
  }

  .grid-item:hover{
    background-color: blue;
  }
  